

.error {
    color: red;
}
.text{
    font-family: "Segoe UI", Lato, sans-serif;
    font-weight: normal;
    font-size: 21px;
    color: #463f3f;
}
.presentation-text{
    font-family: 'Goldplay-Bold',sans-serif;
    color: #463f3f;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
}
.text.title{
    font-size: 28px;
}

.test-box {
    background-color: orange;
}