

.error {
    color: red;
}
.text{
    font-family: "Segoe UI", Lato, sans-serif;
    font-weight: normal;
    font-size: 21px;
    color: #463f3f;
}
.text.title{
    font-size: 28px;
}

.test-box {
    background-color: orange;
}